#! This is an example configuration file for the application. You can copy this file to .env and modify the values as needed.

# Database configuration
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="mydatabase"
POSTGRES_USER="myuser"
POSTGRES_PASSWORD="mypassword"

DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_RECYCLE=3600
DB_POOL_PRE_PING=true

# Test Database configuration
TEST_POSTGRES_HOST="localhost"
TEST_POSTGRES_PORT=5433
TEST_POSTGRES_DB="mytestdatabase"
TEST_POSTGRES_USER="mytestuser"
TEST_POSTGRES_PASSWORD="mytestpassword"

# JWT
JWT_SECRET_KEY="jwt_secret_key"
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=10080
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
JWT_ISSUER=""
JWT_AUDIENCE=""
JWT_LEEWAY_SECONDS=30

# PGAdmin
PGADMIN_DEFAULT_EMAIL="admin@admin.com"
PGADMIN_DEFAULT_PASSWORD="admin"
PGADMIN_PORT=5050
